<div class="container">
  <div class="jumbotron">
    <h1 class="jumboheader">New York Times Scraper</h1>
    <p class="lead">Get the latest news from New York Times.</p>
    <p>
      <a class="btn btn-lg btn-success" href="/scrape" role="button">Search New Articles</a>
    </p>

  </div>

  {{!-- populate the handlebars with scraped titles, links, and article snippets --}} {{#each result}}
  <div class="card news-section">
    <a href="{{this.link}}">
      <h4 class="card-header">{{this.title}}</h4>
    </a>
    <div class="card-block">
      <a href="{{this.link}}">
        <p class="card-text">{{this.articleSnippet}}</p>
      </a>
      <br>
      <a href="/articles/{{this._id}}" class="btn btn-primary">Comment</a>
      <a id="{{this._id}}" class="delete-article btn btn-danger">Delete</a>
    </div>
  </div>
  <br>
  <br> {{/each}}
</div>